/* line 6, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

/* line 10, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
* {
  box-sizing: border-box; }

/* line 14, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative; }

/* line 21, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

/* line 27, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-1 {
  width: 8.33%; }

/* line 29, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-2 {
  width: 16.66%; }

/* line 31, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-2-2-5 {
  width: 20%; }

/* line 33, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-3 {
  width: 25%; }

/* line 35, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-4 {
  width: 33.33%; }

/* line 37, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-4-4-5 {
  width: 40%; }

/* line 39, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-5 {
  width: 41.66%; }

/* line 41, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-6 {
  width: 50%; }

/* line 43, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-7 {
  width: 58.33%; }

/* line 45, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-8 {
  width: 66.66%; }

/* line 47, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-9 {
  width: 75%; }

/* line 49, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-10 {
  width: 83.33%; }

/* line 51, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-11 {
  width: 91.66%; }

/* line 53, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.col-m-12 {
  width: 100%; }

/* line 56, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
section > .container {
  margin: 70px auto;
  text-align: center; }

/* line 61, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
nav {
  background: #015462;
  min-height: 80px;
  margin-top: 0;
  width: 100%; }
  /* line 66, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  nav img {
    margin: 10px;
    height: 60px; }
  /* line 69, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  nav ul {
    padding: 0;
    list-style-type: none;
    float: right; }
  /* line 73, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  nav li {
    display: inline-block;
    line-height: 50px; }
    /* line 76, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
    nav li a {
      padding: 0 20px;
      display: block;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase; }
      /* line 83, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
      nav li a:hover {
        color: #02c8eb;
        font-weight: 800; }

/* line 88, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.hero {
  margin: 0 auto;
  position: relative;
  height: 400px;
  background-image: url(http://i.imgur.com/Qmgjn7P.jpg?2);
  background-size: cover; }

/* line 96, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.slogan {
  position: absolute;
  right: 0;
  min-width: 400px;
  margin-top: 100px;
  padding: 0 40px;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5); }

/* line 109, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.header1 h1 {
  text-transform: uppercase; }

/* line 113, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
[class^="col-"] {
  float: left;
  margin: 0px;
  min-height: 1px;
  overflow: hidden;
  position: relative;
  padding: 0 10px; }

/* line 124, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.benefits i {
  font-size: 50px;
  line-height: 70px;
  width: 70px;
  height: 70px;
  color: #fff;
  background-color: #015462;
  border-radius: 10%; }

/* line 132, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.benefits a {
  text-decoration: none;
  color: inherit;
  display: block; }
  /* line 136, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .benefits a:hover {
    color: #02c8eb; }
  /* line 139, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .benefits a:hover i.fa {
    background: #02c8eb; }

/* line 141, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.benefits p {
  padding: 0 10px; }

/* line 145, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.gallery {
  font-size: 0px; }
  /* line 147, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .gallery img {
    width: 100%; }
  /* line 149, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .gallery .layer {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; }
    /* line 157, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
    .gallery .layer:hover {
      background-color: rgba(0, 0, 0, 0.5);
      transition: .5s; }
    /* line 160, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
    .gallery .layer:hover i.fa {
      display: inline-block; }
  /* line 163, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .gallery i.fa {
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    border-radius: 15%;
    background: white;
    font-size: 20px;
    display: none; }
  /* line 171, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .gallery [class^="col-"] {
    padding: 0px; }

/* line 175, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.people img {
  border-radius: 50%;
  height: 100%;
  width: 100%; }

/* line 179, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.people .leyer-2 {
  color: white;
  font-size: 22px;
  text-shadow: black 0px 4px 5px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, 0);
  display: none; }

/* line 188, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.people p {
  font-weight: 600; }

/* line 191, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.people .col-m-3:hover img {
  opacity: 0.6;
  transition: opacity .8s; }

/* line 194, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.people .col-m-3:hover .leyer-2 {
  display: inline-block; }

/* line 198, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.one-pic {
  background: #015462; }
  /* line 200, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .one-pic p {
    padding: 10px;
    font-size: .9em; }
  /* line 203, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .one-pic .cont2 {
    color: white;
    text-align: left; }
  /* line 206, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .one-pic .col-5 {
    font-weight: 600; }

/* line 211, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.numbers p {
  text-transform: uppercase;
  color: #02c8eb;
  font-weight: 800;
  margin: 0; }

/* line 216, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.numbers h1 {
  font-size: 40px;
  margin: 0;
  font-family: 'Rock Salt', cursive; }

/* line 222, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
footer {
  background: #015462;
  color: white; }
  /* line 225, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  footer h1 {
    text-transform: uppercase; }
  /* line 227, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  footer .title {
    font-weight: 600;
    text-decoration: underline; }
  /* line 230, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  footer i.fa {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #02c8eb;
    text-align: center;
    border-radius: 10%;
    font-size: 24px;
    margin: 5px; }
  /* line 240, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  footer a {
    text-decoration: none;
    color: #fff; }
    /* line 243, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
    footer a:hover i.fa {
      color: #02c8eb;
      background: #fff;
      transition: .5s; }

/* line 249, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
.copyright {
  height: 40px;
  background: black;
  text-align: center; }
  /* line 253, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .copyright p {
    color: white;
    margin: 0;
    line-height: 40px; }

@media (max-width: 767px) {
  /* line 259, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-1 {
    width: 8.33%; }
  /* line 261, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-2 {
    width: 16.66%; }
  /* line 263, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-3 {
    width: 25%; }
  /* line 265, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-4 {
    width: 33.33%; }
  /* line 267, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-5 {
    width: 41.66%; }
  /* line 269, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-6 {
    width: 50%; }
  /* line 271, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-7 {
    width: 58.33%; }
  /* line 273, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-8 {
    width: 66.66%; }
  /* line 275, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-9 {
    width: 75%; }
  /* line 277, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-10 {
    width: 83.33%; }
  /* line 279, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-11 {
    width: 91.66%; }
  /* line 281, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .col-s-12 {
    width: 100%; }
  /* line 284, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  section > .container {
    margin: 30px auto; }
  /* line 287, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .logo {
    display: block;
    text-align: center;
    margin: 0px; }
  /* line 293, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  nav ul {
    list-style-type: none;
    text-align: center;
    float: none;
    margin: 0; }
  /* line 298, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  nav li {
    display: inline-block; }
  /* line 302, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .benefits p {
    font-size: .9em; }
  /* line 306, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .people img {
    max-width: 200px; }
  /* line 308, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .people .leyer-2 {
    font-size: 18px;
    top: 35%; }
  /* line 314, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .one-pic p {
    font-size: .8em; }
  /* line 316, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .one-pic img {
    display: none; }
  /* line 319, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .one-pic .cont2 .col-m-4 {
    margin: auto 0; }
  /* line 324, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  footer h1 {
    border-bottom: 1px solid;
    text-align: center; }
  /* line 327, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  footer p {
    font-size: .95em;
    margin: 0 auto 5px; }
  /* line 332, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  .social {
    text-align: center; } }

@media (max-width: 479px) {
  /* line 340, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  [class*="col-"] {
    width: 100%; }
  /* line 344, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  nav ul {
    padding: 0;
    list-style-type: none; }
  /* line 347, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  nav li {
    display: block; }
  /* line 352, B:/kodilla/6-2_Przeniesienie projektu na Sassa/style.sass */
  footer p {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */